# X / Twitter
X_BEARER_TOKEN=your_x_api_bearer_token
X_USERNAME=your_x_username

# Nostr account public key
NOSTR_NPUB=npub1your_public_key_here

# X polling interval in milliseconds
POLL_INTERVAL_MS=15000

# NIP-46 signer relays
NIP46_RELAYS=wss://relay.primal.net,wss://relay.damus.io

# Nostr publishing and lookup relays
NOSTR_RELAYS=wss://relay.primal.net,wss://relay.damus.io,wss://nos.lol

# Blossom image upload servers
BLOSSOM_SERVERS=https://blossom.primal.net,https://cdn.nostr.build,https://blossom.band

# Primal cache
PRIMAL_CACHE=wss://cache2.primal.net/v1
PRIMAL_PAGE_LIMIT=100
PRIMAL_MAX_PAGES=20

# Nostr query and publish settings
NOSTR_QUERY_TIMEOUT_MS=7000
NOSTR_PUBLISH_TIMEOUT_MS=10000
NOSTR_VERIFY_RETRIES=5
NOSTR_VERIFY_DELAY_MS=1000

# Optional delay between posts for bulk publishing
NOSTR_POST_DELAY_MS=15000